.dark {
  --primary: #000000;
  --secondary: #1a1a19;

  --primary-text: #ffffff;

  --primary-red: #ff667f;
}

.light {
  --primary: #ffffff;
  --secondary: #f8f9fc;

  --primary-text: #000000;

  --primary-red: #ff667f;
}
