@font-face {
  font-family: Mulish-Light;
  src: url("./font/Mulish-Light.ttf");
}

@font-face {
  font-family: Mulish;
  src: url("./font/Mulish-Regular.ttf");
}

@font-face {
  font-family: Mulish-Medium;
  src: url("./font/Mulish-Medium.ttf");
}

@font-face {
  font-family: Mulish-Semibold;
  src: url("./font/Mulish-SemiBold.ttf");
}

@font-face {
  font-family: Mulish-Bold;
  src: url("./font/Mulish-Bold.ttf");
}
