.header {
  display: flex;
  align-items: center;
  background-color: var(--primary);
  min-height: 70px;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
