.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: #476173;
  }

  input:checked + .slider:before {
    transform: translateX(30px);
    background-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: inset -5px -3px 0 #d8e9ef;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #7bb9f5;
    transition: 0.1s;
    border-radius: 20px;

    &:before {
      position: absolute;
      content: "";
      height: 21px;
      width: 21px;
      left: 2px;
      bottom: 2px;
      background-color: yellow;
      transition: 0.1s;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
    }
  }
}
